/Program Files/AutoSwitchInputMethod/THANKS
/Program Files/AutoSwitchInputMethod/upx.1
/Program Files/AutoSwitchInputMethod/upx.doc
/Program Files/AutoSwitchInputMethod/upx.exe
/Program Files/AutoSwitchInputMethod/upx.html
/Program Files/AutoSwitchInputMethod/BUGS
/Program Files/AutoSwitchInputMethod/COPYING
/Program Files/AutoSwitchInputMethod/LICENSE
/Program Files/AutoSwitchInputMethod/NEWS
/Program Files/AutoSwitchInputMethod/README
/Program Files/AutoSwitchInputMethod/README.1ST
